ejercicio3clase2305.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
  <xs:element name="encuesta"> 
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="nombre" type="xs:string"/> 
        <xs:element name="satisfaccion"> 
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:enumeration value="alta"/> 
              <xs:enumeration value="media"/> 
              <xs:enumeration value="baja"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element> 
        <xs:element name="comentarios" type="xs:string" minOccurs="0"/> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>