ejercicio1clase2305xsd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
  <xs:element name="factura"> 
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="cliente" type="xs:string"/> 
        <xs:element name="fecha" type="xs:date"/> 
        <xs:element name="total" type="xs:decimal"/> 
      </xs:sequence> 
      <xs:attribute name="numero" type="xs:string" use="required"/> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>